<!DOCTYPE html>
<html ng-app="driverHiring" dir="ltr" lang="en-US">
<head>
  <script src ="  https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.16.3/lodash.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.1/angular.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular-sanitize.js"></script>
	<script type="text/javascript" src="js/driverHiringController.js"></script>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="SemiColonWeb" />

	<!-- Stylesheets
	============================================= -->
	<link href="http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="css/bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="style.css" type="text/css" />
	<link rel="stylesheet" href="css/dark.css" type="text/css" />
	<link rel="stylesheet" href="css/font-icons.css" type="text/css" />
	<link rel="stylesheet" href="css/animate.css" type="text/css" />
	<link rel="stylesheet" href="css/magnific-popup.css" type="text/css" />
	<link rel="stylesheet" href="css/responsive.css" type="text/css" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!--[if lt IE 9]>
		<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
	<![endif]-->

	<!-- SLIDER REVOLUTION 5.x CSS SETTINGS -->
	<link rel="stylesheet" type="text/css" href="js/settings.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="js/layers.css">
	<link rel="stylesheet" type="text/css" href="js/navigation.css">

	<!-- Document Title
	============================================= -->
	<title>Home - Restuarant | Canvas</title>

	<style>
  @font-face {
      font-family: fzzy;
      src: url(css/fonts/方正综艺简体.TTF);
    }
  @font-face {
        font-family: wryh;
        src: url(css/fonts/微软雅黑.ttf);
      }
  @font-face {
        font-family: wryhb;
        src: url(css/fonts/微软雅黑粗体.ttf);
      }
  @font-face{
    font-family: gotham;
    src:url(css/fonts/GothamHTF-Book.ttf);
  }
  @font-face{
    font-family: lanting;
    src:url(css/fonts/Lantinghei.ttc);
  }
  @font-face{
    font-family: clanprobk;
    src:url(css/fonts/ufonts.com_clanpro-book.ttf);
  }
  @font-face{
    font-family: clanprobd;
    src:url(css/fonts/ufonts.com_clanpro-bold.ttf);
  }
		.revo-slider-emphasis-text {
			font-size: 64px;
			font-weight: 700;
			letter-spacing: -1px;
			padding: 15px 20px;
			border-top: 2px solid #FFF;
			border-bottom: 2px solid #FFF;
		}

		.revo-slider-desc-text {
			font-size: 20px;
			width: 650px;
			text-align: center;
			line-height: 1.5;
		}

		.revo-slider-caps-text {
			font-size: 16px;
			font-weight: 400;
			letter-spacing: 3px;
    		}
		.tp-video-play-button { display: none !important; }

		.tp-caption { white-space: nowrap; }

	</style>

</head>

<body ng-controller = "driverHiringController as dhc" class="stretched">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		<section id="slider" class="slider-parallax revslider-wrap full-screen clearfix">

			<!--
			#################################
				- THEMEPUNCH BANNER -
			#################################
			-->
			<div class="full-screen">
				<div class="tp-banner" >
					<ul>    <!-- SLIDE  -->
						<li class="dark" data-transition="fade" data-slotamount="1" data-masterspeed="1500" data-thumb="images/slider/thumb/1.png" data-delay="5000"  data-saveperformance="off" data-title="馋猫送餐">
							<!-- MAIN IMAGE -->
							<img src="images/slider/1.png"  alt="kenburns1"  data-bgposition="23%" data-kenburns="on" data-duration="5000" data-ease="step-end;" data-scalestart="130" data-scaleend="100" data-bgpositionend="40%">
							<!-- LAYERS -->

							<!-- LAYER NR. 2 -->

							<div class="tp-caption customin ltl tp-resizeme revo-slider-emphasis-text nopadding noborder"
							data-x="450"
							data-y="700"
							data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;s:800;e:Power4.easeOutQuad;"
							data-speed="800"
							data-start="1200"
							data-easing="easeOutQuad"
							data-splitin="right"
							data-splitout="none"
							data-elementdelay="0.01"
							data-endelementdelay="0.1"
							data-endspeed="1000"
							data-endeasing="Power4.easeIn" style="z-index: 3; font-size: 5.5em; font-family:fzzy;font-weight:normal">专业的送餐团队</div>

							<div class="tp-caption customin ltl tp-resizeme revo-slider-desc-text tleft"
							data-x="450"
							data-y="810"
							data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;s:800;e:Power4.easeOutQuad;"
							data-speed="800"
							data-start="1400"
							data-easing="easeOutQuad"
							data-splitin="none"
							data-splitout="none"
							data-elementdelay="0.01"
							data-endelementdelay="0.1"
							data-endspeed="1000"
							data-endeasing="Power4.easeIn" style="z-index: 3; max-width: 550px; white-space: normal;font-size:2.9em; font-weight:normal;font-family:gotham;">We Have The Professional</div>

              <div class="tp-caption customin ltl tp-resizeme revo-slider-desc-text tleft"
              data-x="450"
              data-y="860"
              data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;s:800;e:Power4.easeOutQuad;"
              data-speed="800"
              data-start="1400"
              data-easing="easeOutQuad"
              data-splitin="none"
              data-splitout="none"
              data-elementdelay="0.01"
              data-endelementdelay="0.1"
              data-endspeed="1000"
              data-endeasing="Power4.easeIn" style="z-index: 3; max-width: 550px; white-space: normal;font-size:2.9em; font-weight:normal;font-family:gotham;">Delivery Team</div>



						</li>
						<!-- SLIDE  -->
						<li data-transition="slidedown" data-slotamount="1" data-masterspeed="1500" data-thumb="images/slider/thumb/2.png" data-delay="5000 "  data-saveperformance="off"  data-title="广泛的选择">
							<!-- MAIN IMAGE -->
							<img src="images/slider/2.png"  alt="kenburns6"  data-bgposition="center top" data-kenburns="on" data-duration="10000" data-ease="Linear.easeNone" data-scalestart="120" data-scaleend="100" data-bgpositionend="center center">
							<!-- LAYERS -->

							<!-- LAYER NR. 2 -->

							<div class="tp-caption customin ltl tp-resizeme revo-slider-emphasis-text nopadding noborder"
							data-x="80"
							data-y="450"
							data-customin="x:0;y:1000;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;s:800;e:Power4.easeOutQuad;"
							data-speed="100"
							data-start="1000"
							data-easing="easeOutQuad"
							data-splitin="none"
							data-splitout="none"
							data-elementdelay="0.01"
							data-endelementdelay="0.1"
							data-endspeed="100 "
							data-endeasing="Power4.easeIn" style=" width:100%;z-index: 4; max-width: 700px;color: #ffffff;font-family:fzzy; font-weight:normal;font-size: 5.5em;">多伦多首家最大的</div>

              <div class="tp-caption customin ltl tp-resizeme revo-slider-desc-text tleft"
              data-x="80"
              data-y="660"
              data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;s:800;e:Power4.easeOutQuad;"
              data-speed="800"
              data-start="1000"
              data-easing="easeOutQuad"
              data-splitin="none"
              data-splitout="none"
              data-elementdelay="0.01"
              data-endelementdelay="0.1"
              data-endspeed="800"
              data-endeasing="Power4.easeIn" style="z-index: 4; color: #ffffff; max-width: 750px; white-space: normal;font-size: 2.9em; font-family:gotham;">The Largest Chinese Food Delivery</div>

              <div class="tp-caption customin ltl tp-resizeme revo-slider-desc-text tleft"
              data-x="80"
              data-y="710"
              data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;s:800;e:Power4.easeOutQuad;"
              data-speed="800"
              data-start="1000"
              data-easing="easeOutQuad"
              data-splitin="none"
              data-splitout="none"
              data-elementdelay="0.01"
              data-endelementdelay="0.1"
              data-endspeed="800"
              data-endeasing="Power4.easeIn" style="z-index: 4; color: #ffffff; max-width: 700px; white-space: normal;font-size: 2.9em; font-family:gotham;">Platform in Toronto</div>

              <div class="tp-caption customin ltl tp-resizeme revo-slider-emphasis-text nopadding noborder"
              data-x="80"
              data-y="550"
              data-customin="x:0;y:1000;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;s:800;e:Power4.easeOutQuad;"
              data-speed="800"
              data-start="1000"
              data-easing="easeOutQuad"
              data-splitin="none"
              data-splitout="none"
              data-elementdelay="0.01"
              data-endelementdelay="0.1"
              data-endspeed="800"
              data-endeasing="Power4.easeIn" style=" width:100%;z-index: 4; max-width: 700px;color: #ffffff;font-family:fzzy; font-weight:normal;font-size: 5.5em;">亚洲餐品订餐配送平台<div>



						</li>
						<!-- SLIDE  -->
						<li class="dark" data-transition="slideleft" data-slotamount="1" data-masterspeed="1500" data-thumb="images/slider/thumb/3.png" data-delay="5000"  data-saveperformance="off"  data-title="家乡的味道">
							<!-- MAIN IMAGE -->
							<img src="images/slider/3.png"  alt="kenburns3"  data-bgposition="20%" data-kenburns="on" data-duration="12000" data-ease="Linear.easeNone" data-scalestart="120" data-scaleend="100" data-bgpositionend="50% ">
							<!-- LAYERS -->

							<!-- LAYER NR. 1 -->

							<div class="tp-caption customin ltl tp-resizeme revo-slider-emphasis-text nopadding noborder"
							data-x="320"
							data-y="750"
							data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;s:800;e:Power4.easeOutQuad;"
							data-speed="800"
							data-start="1200"
							data-easing="easeOutQuad"
							data-splitin="none"
							data-splitout="none"
							data-elementdelay="0.01"
							data-endelementdelay="0.1"
							data-endspeed="1000"
							data-endeasing="Power4.easeIn" style="z-index: 3;	font-family:fzzy; color:#ffffff;font-size: 5.5em;font-weight:normal;">我们传递家乡的味道</div>

							<div class="tp-caption customin ltl tp-resizeme revo-slider-desc-text"
							data-x="310"
							data-y="850"
							data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;s:800;e:Power4.easeOutQuad;"
							data-speed="800"
							data-start="1400"
							data-easing="easeOutQuad"
							data-splitin="none"
							data-splitout="none"
							data-elementdelay="0.01"
							data-endelementdelay="0.1"
							data-endspeed="1000"
							data-endeasing="Power4.easeIn" style="z-index: 3; color:#ffffff;max-width: 710px;font-family:gotham; white-space: normal;font-size: 2.9em;font-weight:normal;">We Delivery The Hometown Taste</div>

						</li>
					</ul>
				</div>

			</div>

		</section>

    <section>
  				<div class = "containter" style="height: 456px;">
            <img style="width:100%"src="images/馋猫骑士.png" style = " width:100%; height:100%;align:center"alt="" />
				  </div>

				<div class="container clearfix">

					<div class="col_one_fifth nobottommargin">

						<div class="feature-box fbox-center fbox-plain nobottomborder">
              	<h1 style="margin-top:15px;font-family:fzzy;font-weight:bolder;">为什么选择馋猫?</h1>
							<div style = "margin-bottom:10px" class="fbox-icon">
								<a href="#"><img src="images/icon_money.png" alt="Icon" data-animate="zoomIn"></a>
							</div>
							<h3 style="font-family:wryhb;font-weight:900;font-size:1.5em;">高工资<br>
                <span style="font-family:wryh;font-weight:500;font-size:0.8em"class="subtitle">月入5000不是梦</span></h3>
						</div>
					</div>

					<div  class="col_one_fifth nobottommargin">
						<div class="feature-box fbox-center fbox-plain nobottomborder">
							<div style = "margin-bottom:10px"class="fbox-icon" >
								<a href="#"><img src="images/icon_address.png" alt="Icon" data-animate="zoomIn" data-delay="200"></a>
							</div>
							<h3 style="font-family:wryhb;font-weight:900;font-size:1.5em;">多区域
                  <span style="font-family:wryh; font-weight:500; margin-bottom:-10px;font-size:0.8em" class="subtitle" >无论你在哪里</span>
                 <span style="font-family:clanprobk; font-weight:500;font-size:0.8em" class="subtitle">We Want You!</span>
               </h3>
						</div>
					</div>

					<div class="col_one_fifth nobottommargin">
						<div class="feature-box fbox-center fbox-plain nobottomborder">
							<div style = "margin-bottom:10px" class="fbox-icon">
								<a href="#"><img src="images/icon_time.png" alt="Icon" data-animate="zoomIn" data-delay="400"></a>
							</div>
              <h3 style="font-family:wryhb;font-weight:900;font-size:1.5em;">灵活的时间
                <span  style="font-family:clanprobk; font-weight:600;font-size:0.8em;margin-bottom:-7px;"class="subtitle">Full-time/Part-time</span>
                 <span  style="font-family:wryh; font-weight:500;font-size:0.8em" class="subtitle">任你选</span></h3>
						</div>
					</div>

					<div class="col_one_fifth nobottommargin col_last">
						<div class="feature-box fbox-center fbox-plain nobottomborder">
							<div style = "margin-bottom:10px" class="fbox-icon">
								<a href="#"><img src="images/icon_tips.png" alt="Icon" data-animate="zoomIn" data-delay="600"></a>
							</div>
							<h3 style="font-family:wryhb;font-weight:900;font-size:1.5em;">单多小费全部进包
                <span style="font-family:wryh; font-weight:500;font-size:0.8em"class="subtitle">运费 &amp; 小费全收<br>多劳多得</span>
              </h3>
						</div>
					</div>
				</div>

        <div>
          <div class="container" >
            <div style="margin-bottom:40px;">
              <img src="images/Interestedinjoining.png" alt="Image" data-animate="fadeInLeft">
            </div>
            <div align = "left">
             <form role = "form" ng-submit = "dhc.driverApplySubmit()">
               <div class="form-group" style="margin-top:10px;">
                 <span style="font-family:wryh;color:#4e8db7; font-size:1.2em;font-weight:800">姓名</span>
                 <input  class="form-control" style="margin-top:5px;" type="text" size = "40" ng-model="dhc.applyDriver.name">
               </div>
               <div class="form-group" style="margin-top:5px;">
                 <span style="font-family:wryh;color:#4e8db7; font-size:1.2em;font-weight:800">住址(选填)</span>
                 <input   class="form-control" style="margin-top:5px;"type="text"size = "40" ng-model="dhc.applyDriver.address">
               </div>
               <div  class="form-group" style="margin-top:5px;">
                 <span style="font-family:wryh;color:#4e8db7; font-size:1.2em;font-weight:800">手机(请输入数字)</span>
                 <input  class="form-control"  style="margin-top:5px;"type="text" size = "40" phone-input ng-model="dhc.applyDriver.tel">
               </div>
               <div  class="form-group" style="margin-top:5px;">
                 <span style="font-family:wryh;color:#4e8db7; font-size:1.2em;font-weight:800">邮箱</span>
                 <input  class="form-control" style="margin-top:5px;"type="email" size = "40" ng-model="dhc.applyDriver.email" >
               </div>
               <div  style="margin-top:10px;">
                 <span style="font-family:wryh;color:#4e8db7; font-size:1.2em;font-weight:800">身份</span>
                 <HR style="border:1 dashed #000000"; width="100%;margin-top:-3px;margin-bottom:-3px; " color=#000000 SIZE=1 >
                 <div style="margin-top:7px;">
                   <label ng-repeat= "status in dhc.statusOptions">
                    <input type = "checkbox"
                           ng-model = "status.selected" ng-change="dhc.setStatus()"
                           ng-click="dhc.statusSelection($index, dhc.statusOptions)"
                           >
                           <span style = "font-family:wryh;font-size:1.1em;font-weight:600">{{status.optionName}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    </input>
                   </label>
                 </div>
               </div>
               <div  style="margin-top:10px;">
                 <span style="font-family:wryh;color:#4e8db7; font-size:1.2em;font-weight:800">工卡(SIN)</span>
                 <HR style="border:1 dashed #000000" width="100%" color=#000000 SIZE=1>
                 <div style="margin-top:7px;">
                   <label ng-repeat= "sin in dhc.sinOptions">
                     <input type = "checkbox"
                           ng-model = "sin.selected" ng-change="dhc.setSin()"
                           ng-click="dhc.sinSelection($index, dhc.sinOptions)" >
                           <span style = "font-family:wryh;font-size:1.1em;font-weight:600">{{sin.optionName}}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                   </label>
                 </div>
               </div>
               <div  style="margin-top:10px;">
                 <span style="font-family:wryh;color:#4e8db7; font-size:1.2em;font-weight:800">服务行业经验</span>
                 <br><span style="font-family:wryh;color:#4e8db7; font-size:1em;font-weight:700">(例如送餐,服务员,客服,销售等)</span>
                 <HR style="border:1 dashed #000000" width="100%" color=#000000 SIZE=1>
                   <div style="margin-top:7px;">
                     <label ng-repeat= "experience in dhc.experienceOptions">
                       <input type = "checkbox"
                             ng-model = "experience.selected" ng-change="dhc.setExperience()"
                             ng-click="dhc.experienceSelection($index, dhc.experienceOptions)">
                             <span style = "font-family:wryh;font-size:1.1em;font-weight:600">{{experience.optionName}}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                       </input>
                     </label>
                   </div>
               </div>
               <div  style="margin-top:10px;">
                 <span style="font-family:wryh;color:#4e8db7; font-size:1.2em;font-weight:800">工作区域</span>
                 <HR style="border:1 dashed #000000" width="100%" color=#000000 SIZE=1>
                 <div style="margin-top:7px;font-family:wryh;color:lightblue; font-size:1.2em;font-weight:800">
                   <label ng-repeat= "area in dhc.areaOptions">
                     <input type = "checkbox"
                           ng-model = "area.selected" ng-change="dhc.setArea()">
                           <span style = "font-family:clanprobk;font-size:1.0em;font-weight:600">{{area.optionName}}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>
                   </label>
                 </div>
               </div>
               <div  style="margin-top:10px;">
                 <span style="font-family:wryh;color:#4e8db7; font-size:1.2em;font-weight:800">期望的工作时间</span>
                 <HR style="border:1 dashed #000000" width="100%" color=#000000 SIZE=1>
                 <div style="margin-top:7px;">
                   <label ng-repeat= "hour in dhc.hourOptions">
                     <input type = "checkbox"
                           ng-model = "hour.selected" ng-change="dhc.setHour()"  >
                           <span style="white-space:pre-wrap;font-family:clanprobk,wryh;font-size:1em;font-weight:600"> {{hour.optionName}}</span>&nbsp;&nbsp;<br>
                     </input>
                   </label>
                 </div>
               </div>
               <div style="margin-top:10px;">
                <span style="font-family:wryh;color:#4e8db7; font-size:1.2em;font-weight:800">自我评价</span><br>

                <textarea class="form-control"style="margin-top:7px;" ng-model="dhc.applyDriver.comments" maxlength="500" cols="40" rows="5"></textarea>
              </div>
           <button type="submit" ng-click= "dhc.outPutDriver()" name="button" ng-disabled="dhc.buttonDisabled"
             style="margin-top:20px;margin-left:8%;
                    padding-top: 0px;
                    padding-bottom: 0px;
                    padding-right: 0px;
                    padding-left: 0px;
                    border-right-width: 0px;
                    border-top-width: 0px;
                    border-bottom-width: 0px;
                    border-left-width: 0px;
                    background-color:white;"><img src="images/submit.png" alt="submit" /></button>

             </form>
            </div>
    </section><!-- #content end -->
		<footer id="footer" class="dark">

			<div class="container">
				<!-- Footer Widgets
				============================================= -->

					<div class="col_full center">
              <div style="margin-top:35px; margin-bottom:20px;" >
                <a href="#"><img src="images/icon_cat.png" alt="Icon" data-animate="zoomIn" data-delay="200"></a>
              </div>
              <p style="font-family:wryhb;font-weight:900;font-size:1.5em; margin-bottom:-2px;">联系我们</p>
              <p style="font-family:clanprobk;font-weight:900;font-size:1.2em;">CONTACT US</p>
              <h3 style="font-family:clanprobk;font-weight:900;font-size:1.3em;">phil@chanmao.ca</h3>

			  </div><!-- .footer-widgets-wrap end -->
		  </div>

			<!-- Copyrights
			============================================= -->
			<div id="copyrights">

				<div class="container clearfix">

					<div class="col_half">
					<span style="font-family:clanprobk;color:white">Chanmao Inc. </span><span style="font-family:wryhb;color:white">版权所有</span>

					</div>



						<div class="clear"></div>

					</div>

				</div>

			</div><!-- #copyrights end -->

		</footer><!-- #footer end -->


	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-angle-up"></div>

	<!-- External JavaScripts
	============================================= -->
	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/plugins.js"></script>

	<!-- Footer Scripts
	============================================= -->
	<script type="text/javascript" src="js/functions.js"></script>

	<!-- SLIDER REVOLUTION 5.x SCRIPTS  -->
	<script type="text/javascript" src="js/jquery.themepunch.tools.min.js"></script>
	<script type="text/javascript" src="js/jquery.themepunch.revolution.min.js"></script>

	<script type="text/javascript" src="js/revolution.extension.video.min.js"></script>
	<script type="text/javascript" src="js/revolution.extension.slideanims.min.js"></script>
	<script type="text/javascript" src="js/revolution.extension.actions.min.js"></script>
	<script type="text/javascript" src="js/revolution.extension.layeranimation.min.js"></script>
	<script type="text/javascript" src="js/revolution.extension.kenburn.min.js"></script>
	<script type="text/javascript" src="js/revolution.extension.navigation.min.js"></script>
	<script type="text/javascript" src="js/revolution.extension.migration.min.js"></script>
	<script type="text/javascript" src="js/revolution.extension.parallax.min.js"></script>

	<script type="text/javascript">

		var tpj=jQuery;
		tpj.noConflict();

		tpj(document).ready(function() {

			var apiRevoSlider = tpj('.tp-banner').show().revolution(
			{
				sliderType:"standard",
				jsFileLocation:"js/",
				dottedOverlay:"none",
				delay:16000,
				startwidth:1140,
				startheight:600,
				hideThumbs:200,

				thumbWidth:100,
				thumbHeight:50,
				thumbAmount:5,

				navigation: {
                    keyboardNavigation: "on",
                    keyboard_direction: "horizontal",
                    mouseScrollNavigation: "off",
                    onHoverStop: "off",
                    touch: {
                        touchenabled: "on",
                        swipe_threshold: 75,
                        swipe_min_touches: 1,
                        swipe_direction: "horizontal",
                        drag_block_vertical: false
                    },
                    thumbnails: {
                        style: "hesperiden",
                        enable: true,
                        width: 100,
                        height: 50,
                        min_width: 100,
                        wrapper_padding: 5,
                        wrapper_color: "#ffffff",
                        wrapper_opacity: "0.5",
                        tmp: '<span class="tp-thumb-image"></span><span class="tp-thumb-title">{{title}}</span>',
                        visibleAmount: 5,
                        hide_onmobile: false,
                        hide_onleave: false,
                        direction: "horizontal",
                        span: false,
                        position: "inner",
                        space: 5,
                        h_align: "right",
                        v_align: "bottom",
                        h_offset: 20,
                        v_offset: 50
                    }
                },

				touchenabled:"on",
				onHoverStop:"on",

				swipe_velocity: 0.7,
				swipe_min_touches: 1,
				swipe_max_touches: 1,
				drag_block_vertical: false,

										parallax:"mouse",
				parallaxBgFreeze:"on",
				parallaxLevels:[7,4,3,2,5,4,3,2,1,0],

				keyboardNavigation:"off",

				navigationHAlign:"center",
				navigationVAlign:"bottom",
				navigationHOffset:0,
				navigationVOffset:20,

				soloArrowLeftHalign:"left",
				soloArrowLeftValign:"center",
				soloArrowLeftHOffset:20,
				soloArrowLeftVOffset:0,

				soloArrowRightHalign:"right",
				soloArrowRightValign:"center",
				soloArrowRightHOffset:20,
				soloArrowRightVOffset:0,

				shadow:0,
				fullWidth:"off",
				fullScreen:"on",

				spinner:"spinner4",

				stopLoop:"off",
				stopAfterLoops:-1,
				stopAtSlide:-1,

				shuffle:"off",

				autoHeight:"off",
				forceFullWidth:"off",



				hideThumbsOnMobile:"off",
				hideNavDelayOnMobile:1500,
				hideBulletsOnMobile:"off",
				hideArrowsOnMobile:"off",
				hideThumbsUnderResolution:0,

				hideSliderAtLimit:0,
				hideCaptionAtLimit:0,
				hideAllCaptionAtLilmit:0,
				startWithSlide:0,
			});

		});

	</script><!-- END REVOLUTION SLIDER -->

</body>
</html>
